%background {
  background: linear-gradient(#0f2027, #203a43, #292e49, #0f2027);
  height: 100vh;
}
/*
font-family: 'New Tegomin', serif;
font-family: 'Patua One', cursive;
font-family: 'Press Start 2P', cursive;
font-family: 'Zen Dots', cursive;
*/

body {
  font-family: "Patua One", cursive;
  h1,
  h2,
  h3 {
    font-family: "Zen Dots", cursive;
  }
}

.container {
  padding: 80px 80px;
}

.person {
  border: 10px solid transparent;
  margin-bottom: 25px;
  width: 80%;
  height: 80%;
  opacity: 0.7;
  border-color: #f1f1f1;
}

/* Black buttons with extra padding and without rounded borders */

.navbar {
  margin-bottom: 0;
  background-color: #2d2d30;
  border: 0;
  font-size: 11px !important;
  letter-spacing: 4px;
  opacity: 0.9;
}

.btn {
  padding: 10px 20px;
  background-color: #333;
  color: #f1f1f1;
  border-radius: 2;
  transition: 0.2s;
}

/* Add a dark background color to the footer */
footer {
  background-color: #2d2d30;
  color: #f5f5f5;
  padding: 32px;
  a {
    color: #f5f5f5;
    :hover {
      color: #777;
      text-decoration: none;
    }
  }
}
.skills-bg {
  @extend %background;
  color: white;
  ul.list-group {
    border-radius: 20px;
    .list-group-item {
      background: #20bdff;
      color: white;
    }
  }
}
.skills {
  padding: 70px 0;
  text-align: center;
}

.about-bg,
.contact-bg {
  @extend %background;
  color: white;
}
.projects-bg {
  background-image: url("../image/blueprint.jpg");
  background-size: cover;
  height: 100vh;
  color: black;
  h2 {
    color: white;
  }
  a {
    border-radius: 20px;
  }
  p {
    font-family: "New Tegomin", serif;
    font-size: 18px;
  }
  .img-thumbnail {
    margin: 20px;
    border-radius: 20px;
  }
}
//setting carousel image
.carousel-inner img {
  width: 100%; /* Set width to 100% */
  height: 100vh;
  margin: auto;
}
//moving carousel's word and indicators higher
.carousel-caption {
  padding-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.39);
  border-radius: 20px;
  h1 {
    justify-content: center;
    align-content: center;
  }
}
.carousel-indicators {
  padding-bottom: 20px;
  border-radius: 20px;
}
// typewriter style
#typewriter {
  font-size: 20px;
  font-family: "Press Start 2P", cursive;
}

// intro
.intro {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  h1 {
    color: rgb(71, 255, 169);
    font-size: 3rem;
    font-family: "Press Start 2P", cursive;
  }
}
/*mobile version*/
@media only screen and (max-width: 992px), (max-height: 992px) {
  .skills-bg,
  .about-bg,
  .projects-bg {
    background: linear-gradient(#0f2027, #203a43, #292e49, #0f2027);
    height: auto;
  }
}
